process {
  // nf-core module processes
  withName:GATK4_COLLECTREADCOUNTS        { 
    cpus = 4
    memory = '12.GB'
    time = '8.h'
    ext.args = '--format HDF5 --interval-set-rule INTERSECTION'
  }
  withName:GATK4_CREATEREADCOUNTPANELOFNORMALS { cpus = 4;  memory = '12.GB'; time = '8.h'  }
  withName:GATK4_DENOISEREADCOUNTS        { cpus = 4;  memory = '12.GB'; time = '8.h'  }
  withName:GATK4_MODELSEGMENTS            { cpus = 4;  memory = '16.GB'; time = '12.h' }
  withName:GATK4_PREPROCESSINTERVALS      { cpus = 2;  memory = '4.GB';  time = '2.h'  }
  withName:GATK4_ANNOTATEINTERVALS        { cpus = 2;  memory = '4.GB';  time = '2.h'  }

  // local modules
  withName:GATK4_COLLECTALLELICCOUNTS     { cpus = 2;  memory = '8.GB';  time = '8.h'  }
  withName:GATK4_CALLCOPYRATIOSEGMENTS    { cpus = 2;  memory = '4.GB';  time = '4.h'  }

  errorStrategy = 'retry'
  maxRetries = 2

  publishDir = [
    path: { "${params.outdir}/${task.process}".toString() },
  ]
}

params {
  // keep empty; overridden in nextflow.config or CLI
}