includeConfig 'conf/base.config'

params {
  samplesheet     = "nf-tests/data/cohort.csv"
  reference_fasta = "samples/tiny_ref.fa"
  intervals       = "nf-tests/data/tiny_intervals.bed"
  common_snps_vcf = null
  outdir          = "nf-tests/out"
  mode            = "wgs"
  bin_length      = 5000
}

process {
  executor = 'local'
  withName:.* { cpus = 1; memory = '1.GB'; time = '30.min' }
}